@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$salmon-c:  #FD665E;
$nav-c:  #585858;
$arrow-f:#473534;

$b-width: 1px;

$text-ff: 'Roboto', sans-serif;
$text-hh: 'Libre Baskerville', serif;